.info {
    display: flex;
    flex-direction: column;
    margin-top: 15px;
}

.name-money {
    display: flex;
    justify-content: space-between;
}

.name-and-money {
    display: flex;
    justify-content: space-between;
}

.name, .play-money-total {
    margin: 0 20px 0 20px;
    font-weight: bold;
    font-size: 1.5em;
}

.name {
    text-shadow: 3px 3px 8px rgb(100, 100, 211);
}

.play-money-total {
    font-weight: bold;
    padding: 0 5px;
}

.description {
    margin: 5px 20px;
}