.info {
    display: flex;
    flex-direction: column;
    margin-top: 15px;
}

.name-money {
    display: flex;
    justify-content: space-between;
    background-color: rgb(171, 209, 243);
    box-shadow: 2px 2px 2px black;
}

.name-and-money {
    display: flex;
    justify-content: space-between;
}

.name, .play-money-total {
    margin: 0 20px 0 20px;
    font-weight: bold;
    font-size: 1.5em;
}

.name {
    text-shadow: 3px 3px 8px rgb(100, 100, 211);
}

.play-money-total {
    font-weight: bold;
    padding: 0 5px;
}

.user-description {
    margin: 5px 20px;
    align-self: center;
}

.name {
    word-wrap: break-word;
}

.total-money {
    margin: 7px 0px;
}

@media only screen and (min-width: 650px) {
    .info {
        width: 100%;
    } 
}