.popup-ad {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    width: 90%;
    max-width: 500px;
    max-height: 90vh;
    top: 50px;
    left: 0px;
    right: 0px;
    border-radius: 5px;
    border: 1px solid black;
    background-color: gray;
    overflow-y: scroll;
    overflow-x: hidden;
    z-index: 10;
    margin: 0 auto;

    font-size: 1em;
}

.popup-ad h3 {
    margin: 5px;
}

.popup-header {
    color: blue;
}

.popup-ad .description {
    margin: 0px;
}

.popup-ad button {
    padding: 5px;
    margin: 5px;
    font-size: 1em;
}

.popupad-buttons {
    display: flex;
    justify-content: space-around;
}

.popup-ad .price {
    font-weight: bold;
}

@media only screen and (min-width: 650px) {
    .annoying-ad {
        overflow-y: unset;
        overflow-x: unset;
    }
}