.popup {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    width: 90%;
    max-width: 650px;
    top: 200px;
    left: 20px;
    border-radius: 5px;
    border: 1px solid black;
    background: rgb(226,225,225);
    background: linear-gradient(90deg, rgba(226,225,225,1) 0%, rgb(202, 202, 202) 50%, rgba(226,225,225,1) 100%);

    box-shadow: 2px 2px 2px black;

    font-size: 1.5em;
    color: balck;
}

.popup button {
    height: 50px;
    width: 75px;
}