.annoying-ad {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    width: 90%;
    max-width: 500px;
    max-height: 85vh;
    top: 50px;
    left: 0;
    right:0;
    border-radius: 5px;
    border: 1px solid black;
    background: rgb(226,225,225);
    /* background: linear-gradient(90deg, rgba(226,225,225,1) 0%, rgb(202, 202, 202) 50%, rgba(226,225,225,1) 100%); */
    z-index: 10;
    overflow-y: scroll;
    overflow-x: hidden;
    margin: 0 auto;
    border-radius: 10px;
    box-shadow: 2px 10px 10px black;

    font-size: 1em;
}

.annoying-ad-header {
    color: black;
}

.annoying-ad .ad-img {
    max-width: 80%;
}

.annoying-ad a {
    width: 100%;
}

.annoying-ad p {
    margin: 0;
}

.annoying-ad h3 {
    margin: 5px;
}

.annoying-ad .description {
    margin: 0px 10px;
}

.annoying-ad button {
    padding: 5px;
    margin: 5px;
    font-size: .75em;
}

.annoyingad-buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.confuse-buttons {
    width: 90%;
    display: flex;
    justify-content: space-around;

}

.not-interested-button {
    font-size: .5em !important;
}

.want-it {
    width: 90%;
}

.number-sold {
    font-size: 14px;
}

.annoying-ad .price {
    font-weight: bold;
}

@media only screen and (min-width: 650px) {
    .annoying-ad {
        overflow-y: unset;
        overflow-x: unset;
    }
}