.annoying-ad {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    width: 90%;
    max-width: 500px;
    max-height: 85vh;
    top: 50px;
    left: 20px;
    border-radius: 5px;
    border: 1px solid black;
    background-color: gray;
    z-index: 10;
    overflow-y: scroll;
    overflow-x: hidden;

    font-size: 1em;
    color: rgb(0, 255, 55);
}

.annoying-ad a {
    width: 100%;
}

.annoying-ad p {
    margin: 0;
}

.annoying-ad h3 {
    margin: 5px;
}

.annoying-ad .description {
    margin: 0px;
}

.annoying-ad button {
    padding: 5px;
    margin: 5px;
    font-size: 1em;
}

.annoyingad-buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.confuse-buttons {
    width: 90%;
    display: flex;
    justify-content: space-around;

}

.not-interested-button {
    font-size: .5em !important;
}

.want-it {
    width: 90%;
}

.number-sold {
    font-size: 14px;
}