.edit-popup {
    position: fixed;
    width: 90%;
    max-width: 650px;
    top: 200px;
    left: 20px;
    border-radius: 5px;
    border: 1px solid black;
    background-color: gray;
}

#submit-changes, #cancel-edit {
    width: 90%;
    max-width: 650px;
    align-self: center;
    font-size: 1.5em;
    margin: 10px 0px;
}

.edit-description {
    font-size: 1em;
    width: 90%;
    margin: 5px;
}