.your-product:nth-child(even) {
    background-color: rgb(105, 188, 236);
}
.your-product:nth-child(odd) {
    background-color: rgb(108, 174, 212);
}

.your-product {
    border: 3px solid black;
    margin-top: 15px;
    box-shadow: 2px 2px 5px black;
    border-radius: 10px;
}

.change-items {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    justify-content: space-between;
}

.change-items p, .price-chooser {
    text-align: left;
}

.change-items input {
    font-size: 1.25em;
    padding: 5px;
    margin-left: 10px;
    max-width: 100px;
}

.change-items img {
    align-self: center;
}

#advertising {
    margin: 10px;
    padding: 5px;
    width: 90%;
    max-width: 650px;
    align-self: center;
    font-size: 1.25em;
    white-space: initial;
}

.current-advertising-label {
    margin-top: 20px;
    font-weight: bold;
}

.graph-wrapper {
    align-self: center;
    border-radius: 5px;
    box-shadow: 2px 2px 5px black;
    background-image: linear-gradient(to right, rgb(190, 245, 255) , rgb(141, 246, 255));
    margin: 20px;
    width: 100%;
    
}

.sales-svg {
    fill: #000;
    fill-opacity: 0.3;
    transition: width 2s;
    transition-delay: .5s;
  }
  
  path {
    stroke: rgb(0, 73, 0);
    stroke-width: 5px;
    fill: none;
  }
  
  .axis {
    stroke: #000;
  }
  
  .axis-labels text {
    fill: #000;
    fill-opacity: 1;
    font-size: 16px;
    text-anchor: middle;
  }
  
  .axis-labels line {
    stroke: #000;
  }
  
  .gridline {
    opacity: 0.2;
  }
  .y-label {
      color: black;
      font-weight: bold;
      fill-opacity: 1;
  }

.edit-button {
    font-size: 12px !important;
    text-decoration: underline;
    color: black;
    align-self: center;
    margin-left: 3px;
}

.edit-button:hover {
    cursor: pointer;
}

.your-product-title h2, .your-product-title p {
    display: inline;
}
.profit {
    font-weight: bold;
}

.change-items input, .change-items select {
    border-radius: 5px;
}

@media only screen and (min-width: 650px) {
    .your-product {
        width: 350px;
        display: flex;
        flex-direction: column;
    }
}