.your-product:nth-child(even) {
    background-color: rgb(105, 188, 236);
}
.your-product:nth-child(odd) {
    background-color: rgb(108, 174, 212);
}

.your-product {
    border: 3px solid black;
    margin-top: 15px;
    box-shadow: 2px 2px 5px black;
    border-radius: 10px;
}

.change-items {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.change-items p, .price-chooser {
    margin: 5px;
    text-align: left;
}

.change-items input {
    font-size: 1.25em;
    padding: 5px;
    margin-left: 10px;
    max-width: 100px;
}

.change-items img {
    align-self: center;
}

#submit-changes {
    width: 100%;
    max-width: 650px;
    align-self: center;
    font-size: 1.5em;
    margin: 10px 0px;
}

#advertising {
    margin: 10px;
    padding: 5px;
    width: 90%;
    max-width: 650px;
    align-self: center;
    font-size: 1.25em;
    white-space: initial;
}

.current-advertising-label {
    margin-top: 20px;
    font-weight: bold;
}

.edit-button {
    font-size: 12px !important;
    text-decoration: underline;
    color: blue;
    align-self: center;
    margin-left: 3px;
}

.edit-button:hover {
    cursor: pointer;
}

.your-product-title h2, .your-product-title p {
    display: inline;
}
.profit {
    font-weight: bold;
}

.change-items input, .change-items select {
    border-radius: 5px;
}