* {
  box-sizing: border-box;
}

body {
  margin: 0;
  height: 100%;
  position: relative;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: black;
  text-align: center;
  line-height: 1.5;
  font-size: 1.25em;
  background-color: aliceblue;
}

#root {
  width: 100%;
}

.App {
  min-height: 100vh; /* will cover the 100% of viewport*/
  overflow: hidden;
  display: block;
  position: relative;
  padding-bottom: 40px; /* height of your footer */
}

header {
  padding: 15px;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 3px;
  height: 40px;
  color: white;
}

p {
  margin: 0px;
  max-width: 650px;
  font-size: 1.25em;
  padding: 5px;
}

label {
  font-size: 1.25em;
  margin: 5px;
}

textarea {
  height: 25vh;
  font-size: 1em;
}

.stars {
  font-size: 1.5em;
}

.choose-buttons {
  width: 100%;
  max-width: 650px;
  display: flex;
  justify-content: space-evenly;
}

.choose-buttons button {
  font-size: 1.2em;
}

button {
  border-radius: 10px;
  background-color: rgb(17, 30, 71); 
  color: white;
  font-weight: bold;
}

button:hover {
  background-color: rgb(171, 171, 250);
}

button:active {
  background-color: rgb(209, 209, 250)
}

a {
  text-decoration: none;
  color: black;
}

.description {
  font-size: 20px;
}

.select-ad {
  padding: 10px;
  font-size: 20px;
  align-self: center;
  width: 100%;
}

.page-wrapper {
  padding-top: 100px;
}

@media only screen and (min-width: 650px) {
  .page-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .page-wrapper > div,
  .page-wrapper > section,
  .page-wrapper > form {
    width: 650px;
  }
  body {
    display: flex;
    justify-content: center;
  }
}
